# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
db.sqlite3

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vs/
.vscode/
.idea/

# Database
chroma_db/

# Frontend
node_modules/
dist/
build/
.next/
out/
